.session-page {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.session-header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  // line-height: 80px;
}

.session-header-title {
  display: inline-block;
  position: relative;
  left: 10px;
  bottom: 7px;
  font-size: 50px;
  color: black;
  font-weight: 1500;
}

.session-header .session-logo {
  background-image: image-url('001-tape.svg');
  background-size: 50px;;
  display: inline-block;
  margin-top: 10px;
  width: 50px;;
  height: 50px;;
}

.session-or {
  color: black;
  background-color: white;
  padding: 0 5px;
  position: relative; 
  top: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container input {
  height: 44px;
  width: 420px;
  color: black;
  font-size: 15px;
  border: 1px lightgrey solid;
  font-weight: 500;
  padding-left: 7px;
}

.form-container input::placeholder {
  color: rgb(145, 138, 138);
}

.form-container button {
  height: 49px;
  width: 300px;
  background-color: $green;
  border: none;
  padding: 16px 48px 18px;
  font-size: 14px;
  border-radius: 72px;
  text-align: center;
  letter-spacing: 1.5px;
  transition-duration: 0.5s;
}

.form-container button:hover {
  filter: brightness(1.1)
}

#demo-button {
  background-color: #3B5998;
  
}

#demo-button:hover {
  filter: brightness(1.1)
}

.form-header {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  color: black;
  font-weight: 700;
}

.form-error {
  align-self: flex-start;
  padding-top: 16px;
  color: #bd3200;
  font-size: 14px;
  font-weight: 500;
}

.link-to-login  {
  margin-top: 15px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.link-to-login a {
  color: $green;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.link-to-login a:hover, .sign-up-button:hover {
  filter: brightness(1.1);
}

.link-to-signup {
  margin-top: 20px;
  color: black;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.125px;
}

.signup-button {
  margin-top: 20px;
  width: 350px;
  color: rgb(105, 105, 105);
  background-color: white;
  border: none;
  padding: 16px 48px 18px;
  font-size: 14px;
  border: 2px grey solid;
  border-radius: 72px;
  text-align: center;
  letter-spacing: 1px;
  transition-duration: 0.5s;
}