.home-nav {
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-content: center
}

.home-nav.sign-in {
  background: rgba(0,0,0,1);
}

.home-nav-el {
  height: 80px;
}

.home-nav-el.logo {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}

.home-nav-el.right {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-nav-el > button {
  background: black;
  border: none;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}