.playlist-index {
  width: 100%;
  max-width: 2000px;
  display: flex;
  align-self: center;
  ul {
    width: 100%;
    padding-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
      margin: 0 7px;
      .playlist-title {
        color: white;
        font-weight: 500;
        font-size: .8em;
        margin: 10px 7px;
        text-align: center;
      }

      .playlist-creator {
        color: grey;
        font-weight: 500;
        font-size: .8em;
        text-align: center;
      }

      img {
        height: 220px;
        width: 220px;     
      }
    }
  }
}

.playlist-create-button-holder {
  height: 60px;
  display: flex;
  justify-content: center;
  padding-right: 230px;
  align-items: center;

  button {
    @extend %button;
    background-color: $green;
    font-size: .65em;
    letter-spacing: .55px;
    padding: 0 0;
    font-weight: 400;
    height: 30px;
    width: 125px;
    margin-bottom: 30px;
    align-self: center;
    transition: 0s;
  }

  button:hover {
    filter: brightness(1.1);
    height: 36px;
    width: 150px;
    font-size: 0.7em;
  }

}