.playlist-show-container {
  width: 100%;
  height: calc(100vh - 171px);
  position: relative;
  display: grid;
  grid-template-columns: 37% 63%;

}
.playlist-info-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  // border: 0.5px solid red;
}

.song-list-container {
  box-sizing: border-box;
  padding-right: 50px;
  padding-left: 50px;
  overflow: auto;
  width: 100%;

  ul {
    width: 70%;
  }
}

.song-item {
  padding-top: 4px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  
  .buttons {
    height: 100%;
    font-size: 24px;
    width: 50px;
    padding-left: 10px !important;
    vertical-align: center;

    .hidden {
      display: none;
    }
  }

  .song-info-container {
    height: 50px;
    width: 100%;
    // border: 0.5px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .song-title {
      font-size: 14px;
      font-weight: 300;
      margin: 5px 0;
    }
  }

  .options {
    display: none;
    padding-right: 15px;
  }
}

.song-item:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);

  .options {
    display: inline-block;
    position: relative;
  }

  .fa-music {
    display: none;
  }

  .fa-play-circle-o {
    display: block;
  }
}

.song-other-info {
  span {
    font-size: 13px;
    font-weight: 300;
  }
}

.playlist-details {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 80px;

  div {
    text-align: center;
  }

  button {
    @extend %small-button
  }
}

.playlist-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
}

.playlist-show-creator {
  font-size: 0.85em;
  color: #b3b3b3;
  font-weight: 300;
  margin-bottom: 30px;
}

.playlist-show-button-container {
  height: 40px;
  margin-bottom: 15px;
}

.playlist-length {
  font-size: 0.85em;
  color: #b3b3b3;
  font-weight: 300;
  margin-bottom: 30px;
}

.song-dropdown {
  position: absolute;
  right: 20px;
  width: 150px;
  background: grey;
  padding: 5px;
  div {
    font-size: 13px;
    font-weight: 100;
    margin: 4px;
  }

  div:hover {
    filter: brightness(0.75);
    cursor: pointer;
  }
}