.search-main-container {
  height: 100vh;
  width: 100%;
  padding-bottom: 90px;
  background-image: radial-gradient(farthest-corner at 0px 0px, #101313 35%, black 80%);
  overflow: hidden;
}

.search-display-container {
  width: 100%;
  height: 100%;
  margin-left: 230px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  padding: 0;
}

.search-entry {
  @extend %modal-main;
  width: 100%;
}