.player-main-display-container {
  height: calc(100vh - 40px);
  width: 100%;
  padding-top: 40px;
  background-image: radial-gradient(farthest-corner at 0px 0px, rgb(45, 108, 107) 35%,  black 80%);
  overflow: hidden;
}

.player-display-nav-container {
  width: 100%;
  max-width: 1600px;
  height: fit-content;
  margin-left: 230px;
  display: flex;
  justify-content: center;
  ul {
    height: fit-content;
    li {
      color: grey;
      display: inline;
      font-weight: 500;
      font-size: 14px;
      padding: 0 14px;
      transition: 0.25s;
    }

    li:hover {
      color: white;
      cursor: pointer;
    }
  }
}

.player-display-container {
  width: 100%;
  height: calc(100vh - 80px);
  max-width: 1600px;
  margin-left: 230px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  margin-top: 40px;
}